* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "KHFont";
  src: url("/fonts/woff2/KHMenu.woff2") format("woff2"),
    url("/fonts/otf/KHMenu.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KHFont";
  src: url("/fonts/woff2/KHMenuBold.woff2") format("woff2"),
    url("/fonts/otf/KHMenuBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KHFont";
  src: url("/fonts/woff2/KHMenuItalic.woff2") format("woff2"),
    url("/fonts/otf/KHMenuItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "KHFont";
  src: url("/fonts/woff2/KHMenuBoldItalic.woff2") format("woff2"),
    url("/fonts/otf/KHMenuBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "KHGummi";
  src: url("/fonts/woff2/KHGummi.woff2") format("woff2"),
    url("/fonts/otf/KHGummi.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
